.portfolioRow{
    padding-bottom: 200px;
}

.portfolioTitle{
    text-align: center;
    font: normal normal 900 54px/74px Avenir;
    letter-spacing: 0px;
    color: #52330D;
}

.projectTitle{
    text-align: left;
    font: normal normal 900 42px/57px Avenir;
    letter-spacing: 0px;
    color: #52330D;
}

#projDescription{
    text-align: left;
font: normal normal medium 32px/44px Avenir;
letter-spacing: 0px;
color: #000000;
}

.linkBtn{
    width: 180px;
    height: 55px;
    border:none;
    border-radius: 40px;
    background-color: #52330D;
    color:white;
    font-size: 20px;
}

.imgDiv{
    width: 300px;
    height: 300px;
    float: left;
}

.textDiv{
    width: 640px;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    float: left;
}


.smallerImg{
    object-fit: cover;
    height: 100%; 
    width: 100%;
    object-fit: contain;
}




  
@media (max-width:980px){
    .portfolioTitle{
        font: normal normal 900 54px/74px Avenir;
    }
    
    .projectTitle{
        font: normal normal 900 42px/57px Avenir;
    }
    
    #projDescription{
        font: normal normal medium 32px/44px Avenir;
    }
    
    .linkBtn{
        width: 180px;
        height: 55px;
        font-size: 20px;
    }
    
    .imgDiv{
        width: 300px;
        height: 300px;
        float: left;
    }
    
    .textDiv{
        width: 523px;
        height: 300px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        float: left;
    }
}
/*ADDED 863px to 550px for better flow*/
@media (max-width:863px){
    .portfolioTitle{
        font: normal normal 900 50px/70px Avenir;
    }
    
    .projectTitle{
        font: normal normal 900 40px/20px Avenir;
    }
    
    #projDescription{
        font: normal normal medium 32px/44px Avenir;
    }
    
    .linkBtn{
        width: 150px;
        height: 50px;
        font-size: 18px;
    }
    
    .imgDiv{
        width: 300px;
        height: 300px;
        float: left;
    }
    
    .textDiv{
        width: 410px;
        height: 300px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        float: left;
    }
}
@media (max-width:750px){
    .portfolioTitle{
        font: normal normal 900 50px/70px Avenir;
    }
    
    .projectTitle{
        font: normal normal 900 30px/15px Avenir;
    }
    
    #projDescription{
        font: normal normal medium 25px/30px Avenir;
    }
    
    .linkBtn{
        width: 110px;
        height: 30px;
        font-size: 15px;
    }
    
    .imgDiv{
        width: 300px;
        height: 300px;
        float: left;
    }
    
    .textDiv{
        width: 310px;
        height: 300px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        float: left;
    }
}
  
@media (max-width:650px){
    .portfolioTitle{
        font: normal normal 900 40px/50px Avenir;
    }
    
    .projectTitle{
        font: normal normal 900 20px/15px Avenir;
    }
    
    #projDescription{
        font: normal normal medium 15px/25px Avenir;
    }
    
    .linkBtn{
        width: 110px;
        height: 30px;
        font-size: 15px;
    }
    
    .imgDiv{
        width: 250px;
        height: 250px;
        float: left;
    }
    
    .textDiv{
        width: 260px;
        height: 250px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        float: left;
    }

}
  
@media (max-width:550px){
    .portfolioTitle{
        font: normal normal 900 40px/50px Avenir;
    }
    
    .projectTitle{
        font: normal normal 900 15px/10px Avenir;
    }
    
    #projDescription{
        font: normal normal medium 10px/15px Avenir;
    }
    
    .linkBtn{
        width: 110px;
        height: 30px;
        font-size: 15px;
    }
    
    .imgDiv{
        width: 250px;
        height: 250px;
        float: left;
    }
    
    .textDiv{
        width: 160px;
        height: 250px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        float: left;
    }
}
  
@media (max-width:450px){
    .portfolioTitle{
        font: normal normal 900 40px/50px Avenir;
    }
    
    .projectTitle{
        font: normal normal 900 15px/10px Avenir;
    }
    
    #projDescription{
        font: normal normal medium 10px/15px Avenir;
    }
    
    .linkBtn{
        width: 110px;
        height: 30px;
        font-size: 15px;
    }
    
    .imgDiv{
        width: 250px;
        height: 250px;
        float: left;
    }
    
    .textDiv{
        width: 60px;
        height: 250px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        float: left;
    }

}
  