.checkbox_wrapper {
  position: relative;
  height: 50px;
  width: 50px;
}

input[type="checkbox"] {
  opacity: 0;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

input[type="checkbox"] + label {
  background-image: url(../assets/BusinessWhite.svg);
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 0 0 0 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

input[type="checkbox"]:checked + label {
  background-image: url(../assets/BusinessStrategyDark.svg);
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 0 0 0 0px;
}
