.h1 {
  font-size: 54px;
  font-family: AvenirHeavy, sans-serif;
  color: #f6a833;
  border-top: 3px solid #f6a833;
  border-bottom: 3px solid #f6a833;
  text-align: left;
  padding: 20px;
}
.title0 {
  font-size: 54px;
  font-family: AvenirHeavy, sans-serif;
  color: #52330d;
  margin: 0 auto;
}
.title1 {
  font-size: 42px;
  text-align: left;
  font-family: AvenirHeavy, sans-serif;
  color: #52330d;
  margin-bottom: -10px;
}
.description {
  text-align: left;
  font-family: AvenirMedium, sans-serif;
  font-size: 24px;
}
.container {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 10%;
}
.ProjectTable {
  display: block;
  width: 90%;
}
.ProjectCell {
  width: 500px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.inline {
  display: inline-block;
}
.smallImg {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.unstylelink {
  text-decoration: none;
  font-size: 42px;
}

@media screen and (max-width: 900px) {


  .description{
    font-size: 16px;
  }

}

@media screen and (max-width: 660px) {



  .description{
    font-size: 12px;
  }
}

@media screen and (max-width: 520px) {



  .description{
    font-size: 10px;
  }
}
