/*this placaeholder does nothing right now */
#input::placeholder{
    font-size: 32px;
    color:green;
}
/*changes the color of chat text box*/
::placeholder {
  color: red;
  align-items: center;
}



