.h1 {
  font-size: 300%;
  font-family: AvenirHeavy, sans-serif;
  color: #52330d;
  border-top: 3px solid #52330d;
  border-bottom: 3px solid #52330d;
  text-align: left;
  padding: 20px;
}
.title {
  font-size: 160%;
  text-align: left;
  font-family: AvenirHeavy, sans-serif;
  color: #52330d;
  margin-bottom: -10px;
}
.description {
  text-align: left;
  font-family: AvenirMedium, sans-serif;
  font-size: 150%;
}
.container {
  margin: auto;
  width: 90%;
}
.ProjectTable {
  display: block;
  width: 90%;
}
.ProjectCell {
  width: 500px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.inline {
  display: inline-block;
}
.smallImg {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.button111 {
  display: flex;

  background-color: white;
  border: 2px solid #f6a833;
  color: #f6a833;
  width: 100%;
  padding: 2%;
  text-align: center;
  display: block;
  font-size: 28px;
  border-radius: 50px;
  font-family: AvenirHeavy, sans-serif;

  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin: auto;
}

.button {
  display: flex;
  background-color: white;
  border: 2px solid #f6a833;
  color: #f6a833;
  width: 95%;
  padding: 2%;
  text-align: center;
  display: block;
  /* font-size: 28px; */
  border-radius: 50px;
  font-family: AvenirHeavy, sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.button2 {
  background-color: #f6a833;
  border: none;
  color: white;
  width: 50%;
  padding: 15px 30px;
  text-align: center;
  display: block;
  font-size: 28px;
  border-radius: 50px;
  font-family: AvenirHeavy, sans-serif;
  margin: 50px auto;
}

@media screen and (max-width: 100px) {
  .button {
    font-size: 75%;
  }
  .title {
    font-size: 150%;
  }
  .button2 {
    font-size: 25px;
  }
  .description {
    font-size: small;
  }
}

@media screen and (max-width: 660px) {
  .title {
    font-size: 75%;
  }

  .description {
    font-size: 100%;
  }
}

@media screen and (max-width: 400px) {
  .button {
    text-align: center;
    font-size: 75%;
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 13px;
  }
}
