.navbar {
  background: white;
  border-bottom: 6px solid #f6a833;
  padding: 10px;
  position: absolute;
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float:left;
  margin-top: 5vh;
  margin-left: 5vw;
}
.li {
  float: left;
  margin-left:2vw;
  font-size: 32px;
  color: black;
 /* border: 1px solid black;
 border-radius: 25px;
 height: 60px; */

}
/* .nav-logo {
  align-content: left;
} */
.active{
  background-color: #f6a833;
  height: auto;
  border:1px solid #f6a833;
  border-radius: 10px;

}
