.outterLayer{
    /* height:   237px  ;   */
    background-color:   #52330D  ;  
    width:   100%  ;  
    bottom:   0  ;  
    font-family:   AvenirBook  ;  
    display: flex;
    justify-content: center;

}

.layer{
    width: 980px;
    /* height: 200px; */
    /* margin-top: 60px; */
}

#eachCol{
    /* height: 200px;  */
    float: left;
    /* width: 29%; */

    bottom: 0;
    /* padding-right: 10px; */
    margin-bottom: 50px;
}

.logoImg{
    margin-top: 60px;
    width: 250px;
    height: 90px;
}

.firstColText{
    color:white;
    margin-top: 17px;
    margin-bottom: 10px;
    font: normal normal normal 15px/20px Avenir;
}

.colText1{
    font: normal normal normal 17px/23px Avenir;
    text-align: left;
    color:white;
    margin-top: 120px;
    padding-left: 80px;
}

.spacing1{
    padding-left: 107px;
}
.spacing2{
    padding-left: 90px;
}

.colText2{
    font: normal normal normal 17px/23px Avenir;
    text-align: left;
    color:white;
    margin-top: -10px;
    padding-left: 80px;
}

.iconContainer{
    margin-top: 127.5px;
    display: flex;
    justify-content: center;
    float: center;
    /* width: 18%; */
}

.twitter{
    width: 32px;
    height: 26px;
    padding-right: 15px;
}

.linkedIn{
    width: 26px;
    height: 26px;
    padding-right: 15px;
}

.facebook{
    width: 14px;
    height: 26px;
}


@media (max-width:870px){ 
    .outterLayer{
        /* height:   237px  ;   */
        background-color:   #52330D  ;  
        width:   100%  ;  
        bottom:   0  ;  
        font-family:   AvenirBook  ;  
        display: flex;
        justify-content: center;
    
    }
    
    .layer{
        width: 870px;
        /* height: 200px; */
        /* margin-top: 60px; */
    }
    
    #eachCol{
        /* height: 200px;  */
        float: left;
        /* width: 29%; */
    
        bottom: 0;
        /* padding-right: 10px; */
        margin-bottom: 50px;
    }
    
    .logoImg{
        margin-top: 60px;
        width: 200px;
        height: 70px;
    }
    
    .firstColText{
        color:white;
        margin-top: 17px;
        margin-bottom: 10px;
        font: normal normal normal 15px/20px Avenir;
    }
    
    .colText1{
        font: normal normal normal 17px/23px Avenir;
        text-align: left;
        color:white;
        margin-top: 120px;
        padding-left: 40px;
    }
    
    .spacing1{
        padding-left: 56px;
    }
    .spacing2{
        padding-left: 40px;
        
    }
    
    .colText2{
        font: normal normal normal 17px/23px Avenir;
        text-align: left;
        color:white;
        margin-top: -10px;
        padding-left: 40px;
    }
    
    .iconContainer{
        margin-top: 127.5px;
        display: flex;
        justify-content: center;
        float: left;
        /* padding-left:20px; */
        /* width: 18%; */
    }
    
    .twitter{
        width: 28px;
        height: 26px;
        padding-right: 15px;
    }
    
    .linkedIn{
        width: 21px;
        height: 21px;
        padding-right: 15px;
    }
    
    .facebook{
        width: 12px;
        height: 24px;
    }
}

/*ADDED 863px to 550px for better flow*/

@media (max-width:750px){   
    .layer{
        width: 750px;
        /* height: 200px; */
        /* margin-top: 60px; */
    }
    
    #eachCol{
        /* height: 200px;  */
        float: left;
        /* widt5: 25%; */
        bottom: 0;
        /* padding-right: 10px; */
        margin-bottom: 50px;
    }
    
    .logoImg{
        margin-top: 50px;
        width: 159px;
        height: 54px;
    }
    
    .firstColText{
        color:white;
        margin-top: 17px;
        margin-bottom: 10px;
        font: normal normal normal 13px/19px Avenir;
    }
    
    .colText1{
        font: normal normal normal 15px/23px Avenir;
        text-align: left;
        color:white;
        margin-top: 78px;
        padding-left: 20px;
    }
    
    .colText2{
        font: normal normal normal 15px/23px Avenir;
        text-align: left;
        color:white;
        margin-top: -10px;
        padding-left: 20px;
    }
    .spacing1{
        padding-left: 56px;
    }
    .spacing2{
        padding-left: 40px;
        
    }
    
    .iconContainer{
        margin-top: 77.5px;
        display: flex;
        justify-content: center;
        float: left;
        /* width: 18%; */
    }
    
    .twitter{
        width: 26px;
        height: 20px;
        padding-right: 15px;
    }
    
    .linkedIn{
        width: 18px;
        height: 18px;
        padding-right: 15px;
    }
    
    .facebook{
        width: 10px;
        height: 18px;
    }
    
    
}

@media (max-width:653px){
    .layer{
        width: 653px;
        /* height: 200px; */
        /* margin-top: 60px; */
    }
    
    #eachCol{
        /* height: 200px;  */
        float: left;
        /* widt5: 25%; */
        bottom: 0;
        /* padding-right: 10px; */
        margin-bottom: 50px;
    }
    
    .logoImg{
        margin-top: 50px;
        width: 150px;
        height: 50px;
    }
    
    .firstColText{
        color:white;
        margin-top: 17px;
        margin-bottom: 10px;
        font: normal normal normal 13px/19px Avenir;
    }
    
    .colText1{
        font: normal normal normal 14px/23px Avenir;
        text-align: left;
        color:pink;
        margin-top: 78px;
        padding-left: 20px;
    }
    
    .colText2{
        font: normal normal normal 14px/23px Avenir;
        text-align: left;
        color:white;
        margin-top: -10px;
        padding-left: 20px;
    }
    .spacing1{
        padding-left: 39px;
    }
    .spacing2{
        padding-left: 25px;
        
    }
    
    .iconContainer{
        margin-top: 77.5px;
        display: flex;
        justify-content: center;
        float: left;
        /* width: 18%; */
    }
    
    .twitter{
        width: 21px;
        height: 15px;
        padding-right: 15px;
    }
    
    .linkedIn{
        width: 15px;
        height: 15px;
        padding-right: 15px;
    }
    
    .facebook{
        width: 8px;
        height: 15px;
    }
}

@media (max-width: 627px){
    .layer{
        width: 627px;
        /* height: 200px; */
        /* margin-top: 60px; */
       
        
    }
    
    #eachCol{
        /* height: 200px;  */
        /* float: center; */
        
        /* bottom: 0; */
        /* padding-right: 10px; */
        /* margin-bottom: 50px;
        display: flex;
        justify-content: center; */
        
    }
    .centerLogo{
        /* margin-top: 50px; */
        
        display: flex;
        justify-content: left;
        padding-left: 1vw;
    }
    .colText1{
        font: normal normal normal 12px/23px Avenir;
        text-align: left;
        color:white;
        margin-top: 80px;
        margin-left: -10px;
        /* margin-right: 50px; */
        /* padding-left: 10vw; */
    }
    .colText2{
        font: normal normal normal 12px/23px Avenir;
        text-align: center;
        color:white;
        margin-top: -10px;
        /* padding-left: 10vw; */
        margin-left: -10px;
    }
    .iconContainer{
        padding-right: 1vw;
        
        /* display: flex;
        justify-content: center;
        float: center; */
        /* width: 18%; */
    }
    .firstColText{
        /* padding-left: 0.3vw; */
        color:white;
        margin-top: 10px;
        /* margin-bottom: 10px; */
        font: normal normal normal 12px/19px Avenir;

    }
    .twitter{
        width: 16px;
        height: 15px;
        padding-right: 10px;
    }
    
    .linkedIn{
        width: 14px;
        height: 15px;
        padding-right: 10px;
    }
    
    .facebook{
        width: 8px;
        height: 15px;
    }
    .spacing1{
        padding-left: 27px;
    }
    .spacing2{
        padding-left: 15px;
        
    }
}

