.App {
    text-align: center;
    font-family: "Avenir";
    height: auto;
    /* min-width: 40ch; */
    /* width: 980px; */
    
    
}
.center{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.containerApp{
  /* width: 100px; */
  /* background-color: pink; */
  width: 980px;
  
}

@media (max-width:1280px){
  .containerApp{
    width: 980px;
  }
}

@media (max-width:980px){
  .containerApp{
    width: 863px;

  }
}
/*ADDED 863px to 550px for better flow*/
@media (max-width:863px){
  .containerApp{
    width: 750px;
  }
}
@media (max-width:750px){
  .containerApp{
    width: 650px;
  }
}

@media (max-width:650px){
  .containerApp{
    width: 550px;
  }
}

@media (max-width:550px){
  .containerApp{
    width: 450px;
  }
}

@media (max-width:450px){
  .containerApp{
    width: 360px;
  }
}







/* @media only screen and (min-height:900px){
  .App{
      height:4700px;
      
  } 
   }  */
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
